<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sala</th>
            <th scope="col">A nombre de</th>
            <th scope="col">Dia</th>
            <th scope="col">Desde</th>
            <th scope="col">hasta</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reserva of reservas; let indice=index;">
            <th scope="row">{{indice+1}}</th>
            <td>
                <app-obtener-sala [salas]="salas" [reserva]="reserva"></app-obtener-sala>
            </td>
            <td>{{reserva.a_nombre_de}}</td>
            <td>{{reserva.dia}}</td>
            <td>{{reserva.desde}}</td>
            <td>{{reserva.hasta}}</td>
            <td>{{reserva.observaciones}}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-sm">Acciones</button>
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="Modal(reserva);" data-bs-toggle="modal"
                                data-bs-target="#modal-sala-" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg> Editar</a>
                        </li>
                        <li><a class="dropdown-item" (click)="Modal(reserva);" data-bs-toggle="modal"
                                data-bs-target="#modal-sala-eliminar-" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                </svg> Cancelar</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <!-- Editar reserva -->
        <div class="modal fade" id="modal-sala-" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color: black;" id="exampleModalLabel">Editar reserva de la sala "<app-obtener-sala [salas]="salas" [reserva]="reservaModal"></app-obtener-sala>"" a nombre de
                            "{{nombre}}"</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div id="modal"></div>
                        <form action="" method="POST" (ngSubmit)="EditarReserva();">
                            <label for="" class="form-label" style="color: black;"><strong>Seleccionar
                                    sala</strong></label>
                            <select class="form-select" name="sala" [(ngModel)]="reservaModal.sala_id">
                                <option *ngFor="let sala of salas" [value]="sala.id"
                                    [selected]="sala.id == reservaModal.sala_id">{{sala.nombre}}</option>
                            </select><br>

                            <label for="" class="form-label" style="color: black;"><strong>Reserva a nombre
                                    de:</strong></label>
                            <input type="text" name="a_nombre_de" class="form-control" id="" required
                                [(ngModel)]="reservaModal.a_nombre_de" [value]="reservaModal.a_nombre_de"><br>

                            <label for="" class="form-label" style="color: black;"><strong>Dia de
                                    reserva:</strong></label>
                            <input type="date" name="dia" id="diaM" class="form-control" required
                                [(ngModel)]="reservaModal.dia" [value]="reservaModal.dia"><br>

                            <label for="" class="form-label" style="color: black;"><strong>Desde:</strong></label>
                            <input type="time" name="desde" class="form-control" id="inicioM{}" required
                                [(ngModel)]="reservaModal.desde" [value]="reservaModal.desde"><br>

                            <label for="" class="form-label" style="color: black;"><strong>Hasta:</strong></label>
                            <input type="time" name="hasta" class="form-control" id="finalM{}" required
                                [(ngModel)]="reservaModal.hasta" [value]="reservaModal.hasta"><br>
                            <div id="alertaM{}"></div>

                            <label for="" class="form-label"
                                style="color: black;"><strong>Observaciones</strong></label>
                            <textarea name="observaciones" [(ngModel)]="reservaModal.observaciones" class="form-control"
                                cols="2" rows="3" required>{{reservaModal.observaciones}}</textarea><br>
                            <div class="col d-flex justify-content-start">
                                <input type="submit" value="Modificar" class="btn btn-primary" data-bs-dismiss="modal">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Eliminar reserva -->
        <div class="modal fade" id="modal-sala-eliminar-" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color: black;" id="exampleModalLabel">Confirmacion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        Esta seguro de cancelar la reserva a nombre de
                        "{{reservaModal.a_nombre_de}}"?

                    </div>
                    <div class="modal-footer">

                        <button data-bs-dismiss="modal" type="submit" (click)="EliminarReserva();"
                            class="btn btn-danger">Eliminar</button><button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>

    </tbody>
</table>