.colorCard {
    background-color: rgba(32, 120, 192, 0.948);
}

.colorCard2 {
    background-color: rgba(11, 156, 23, 0.9);
}

.letrasCard {
    color: white;
}

.carta {
    height: 130px;
    width: 260px;
}

.card a{
    color: white;
    text-decoration: none;
    margin-left: 8px;
}

.card a svg{
    margin-left: 10px;
    transition: all .3s ease-in-out;
}


.card a:hover svg{
margin-left: 40px;
}
