<app-titulo2 titulo="Reservar sala"></app-titulo2>
<div class="contenedor" style="margin-top: 0;">
    <app-alert (quitarAlert)="msg=''; success=0; class='';" [msg]="msg" [mostrar]="success" [class]="class"></app-alert>
    <div class="row">
        <div class="col rounded col1 conteedorAbajo">
            <div class="d-flex">
                <h4 style="margin-top: 22px; margin-left: 10px;">Reservas</h4>

                <button *ngIf="mostrar" class="btn btn-secondary btn-sm mostrar" (click)="mostrar = !mostrar">Ver
                    calendario</button>
                <button *ngIf="!mostrar" class="btn btn-secondary btn-sm mostrar" (click)="mostrar = !mostrar">Ver
                    tabla</button>

            </div>
            <hr style="margin: 10px;">
            
            <app-tabla-reservas *ngIf="mostrar" (editarReserva)="updateReserva($event);"
                (eliminarReservaEvento)="deleteReserva($event);" [reservas]="(reservasFilter)" [maxReservas]="reservas.length">
            </app-tabla-reservas>

            <app-calendario *ngIf="!mostrar" [salas]="salas" [reservas]="reservas"></app-calendario>

        </div>
        <div class="col rounded col2 conteedorAbajo">
            <h4 style="margin-top: 22px; margin-left: 10px;">Nueva reservas</h4>
            <hr>
            <app-nueva-reserva (addReserva)="addReserva($event);" [salas]="salasActivas" [reservas]="reservas">
            </app-nueva-reserva>
            <br>
        </div>
    </div>
</div>