<app-titulo2 titulo="Reservar sala"></app-titulo2>
<div class="contenedor" style="margin-top: 0;">
    <app-alert (quitarAlert)="msg=''; success=0; class='';" [msg]="msg" [mostrar]="success" [class]="class"></app-alert>
    <div class="row">
        <div class="col rounded col1">
            <h4 style="margin-top: 22px; margin-left: 10px;">Reservas</h4>
            <hr>
            <div class="buscador">
                <input type="text" name="" id="" placeholder="Buscar" [(ngModel)]="buscardor" class="form-control">
            </div>
            <app-tabla-reservas (editarReserva)="updateReserva($event);"
                (eliminarReservaEvento)="deleteReserva($event);" [reservas]="(reservasFilter | filterReservas: buscardor:salas)"
                [salas]="salas">
            </app-tabla-reservas>
        </div>
        <div class="col rounded col2">
            <h4 style="margin-top: 22px; margin-left: 10px;">Nueva reservas</h4>
            <hr>
            <app-nueva-reserva (addReserva)="addReserva($event);" [salas]="salasActivas" [reservas]="reservas">
            </app-nueva-reserva>
            <br>
        </div>
    </div>
</div>