<footer class="footer">
    <!-- <center> -->
    <div>
        <p class="P">
            Sitio web Desarrollado por Carlos Daniel Jaramillo Tinajero
        </p>
        <div class="d-flex justify-content-center mb-2">
            <div class="p-2">
                <p class="col P2">
                    FrameWorks utilizados <br>
                    Laravel - API <br>
                    Angular <br>
                </p>
            </div>
            <div class="p-2">
                <p class="col P2">
                    Lenguajes utilizados <br>
                    PHP <br>
                    MySql <br>
                    HTML <br>
                    CSS <br>
                    TypeScript <br>
                    RXJS
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-2">
            <div style="display: block;">
                <!-- <p class="p">Front</p> -->
                <div>
                    <a class="P" href="https://github.com/CarlosJaramilloTinajero/angularSalas" target="_blank">Front-end:
                        https://github.com/CarlosJaramilloTinajero/angularSalas</a>
                </div>
                <div>
                    <a class="P" href="https://github.com/CarlosJaramilloTinajero/salas" target="_blank">Back-end:
                        https://github.com/CarlosJaramilloTinajero/salas</a>
                </div>

            </div>

        </div>
    </div>
    <!-- </center> -->
</footer>