<footer class="footer">
    <!-- <center> -->
    <div>
        <p class="P">
            Sitio web Desarrollado por Carlos Daniel Jaramillo Tinajero
        </p>
        <div class="d-flex justify-content-center mb-2">
            <div class="p-2">
                <p class="col P2">
                    FrameWorks utilizados <br>
                    Laravel <br>
                    BootStrap <br>
                </p>
            </div>
            <div class="p-2">
                <p class="col P2">
                    Lenguajes utilizados <br>
                    PHP <br>
                    HTML <br>
                    JavaScript <br>
                    MySql <br>
                    CSS
                </p>
            </div>
        </div>
        <p class="P">https://github.com/CarlosJaramilloTinajero/salas</p>
    </div>
    <!-- </center> -->
</footer>