a {
  text-decoration: none;
}

.zoom {
  transition: all .6s ease;

}

.zoom:hover {
  scale: 1.05;
  box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

hr {
  color: rgba(0, 0, 0, 0.80);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: white;
}

.contenedor {
  text-align: left;
  margin-top: 20px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.sombra {
  box-shadow: 0px -1px 3px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -1px 3px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 3px 3px rgba(0, 0, 0, 0.75);
}

.titulo {
  color: rgba(0, 0, 0, 0.78);
  margin-bottom: 25px;
  /* border-bottom: white 2px solid; */
}

.btn {
  transition: all .3s ease-in-out;
  background-color: unset;
  color: black;
  font-size: 15px;
  font-weight: 500;
  border: unset;
  transition: all .5s ease-in-out;
}

/* .btn:hover { */
/* background-color: unset; */
/* color: white; */
/* } */

.btn-primary {
  border: 2px rgba(26, 63, 185, 0.87) solid;
  color: rgba(26, 63, 185, 1);
}

.btn-primary:hover {
  background-color: rgba(26, 63, 185, 0.87);
}

.btn-secondary {
  border: 2px rgba(131, 135, 148, 0.87) solid;
  color: rgba(131, 135, 148, 1);
  /* background-color: rgba(131, 135, 148, 0.87); */
  color: rgba(131, 135, 148, 1);
  font-size: 15px;
}

.btn-secondary:hover {
  /* border: none; */
  background-color: rgba(123, 126, 136, 0.87);
}

.btn-danger {
  border: 2px rgba(190, 21, 21, 0.842) solid;
  color: rgba(190, 21, 21, 1);
  /* background-color: rgba(131, 135, 148, 0.87); */
  color: rgba(190, 21, 21, 1);
  font-size: 15px;
}

.btn-danger:hover {
  /* border: none; */
  background-color: rgba(190, 21, 21, 0.87);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: -3px 5px 3px 1px rgba(0, 0, 0, 0.75);
}

.btn-group .btn:hover {
  transform: none;
  box-shadow: none;
}

.btn-group {
  transition: all .3s ease-in-out;
}