<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 4%; max-width: 95%; margin-bottom: 300px;">
    <div class="col" style="max-width: 270px; margin-left: 10px;">

        <app-card [cont]="cantidadSalas" titulo="Total de salas" tipo="salas"></app-card>

    </div>
    <div class="col" style="max-width: 270px; margin-left: 10px;">

        <app-card [cont]="cantidadReservas" titulo="Total de reservas" tipo="reservas"></app-card>

    </div>
    <!-- <div class="col" *ngFor="let sala of salas">{{sala.nombre}}{{sala.estado}}</div> -->
</div>