<app-titulo2 titulo="Reservas"></app-titulo2>
<div class="contenedor conteedorAbajo" style="margin-top: 30px;">
    <div class="centrarTabla">
        <app-alert (quitarAlert)="msg=''; success=0; class='';" [msg]="msg" [mostrar]="success" [class]="class">
        </app-alert>
        <app-tabla-reservas (editarReserva)="updateReserva($event);" (eliminarReservaEvento)="deleteReserva($event);"
            [reservas]="reservas" [maxReservas]="reservas.length">
        </app-tabla-reservas>
    </div>

</div>